body{
    background-color: lightskyblue;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;;
}
form{
    font-size: 1.5em;
    line-height: 25px;

}
input{
    border-radius: 5px;
    height: 35px;
    font-size: 0.7em;
}
input[type=text]:focus {
    background-color: lightblue;
}
select{
    font-size: 0.7em;
    border-radius: 5px;
}
table{
    background-color: azure;
    border-radius: 6px;
    margin: 10px;
    font-size: 1em;
}